@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');


.errorPage {
    font-family: 'Ubuntu Mono',
        monospace;
    font-size: 50px;
    text-align: center;
    letter-spacing: 1px;
    margin: 100px;
}