@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.createTitle {
    font-family: 'Ubuntu Mono',
        monospace;
    font-size: 50px;
    text-align: center;
    letter-spacing: 1px;
}

.createForm {
    width: 80%;
    margin: 10px auto;
    padding: 25px 40px;
}

.priorityTitle {
    width: 80%;
    margin: 15px auto;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins',
        sans-serif;
    letter-spacing: 1px;
}

.radioPriority {
    width: 40%;
    margin-right: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dateTime {
    width: 46%;
    margin: 10px 10%;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins',
        sans-serif;
    letter-spacing: 1px;
}