@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Poppins:wght@200&family=Redressed&display=swap');

.updateText {
    text-align: center;
    font-size: 40px;
    color: grey;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Poppins',
        sans-serif;
}

.updateForm {
    width: 90%;
    margin: auto;
}

.updateProfile {
    display: flex;
}

.updateField {
    width: 50%;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 60px;
}

.updateImage {
    width: 300px;
    height: 300px;
    margin: auto;
}