@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.homeTitle {
    /* font-family: 'Indie Flower',cursive; */
    /* font-family: 'Praise', cursive; */
    font-family: 'Ubuntu Mono', monospace;
    font-size: 50px;
    text-align: center;
    letter-spacing: 1px;
}

.link {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.meetingContainer {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}

.singleMeeting {
    width: 80%;
    padding: 15px;
    margin: 10px;
}

.buttonLow {
    font-size: 12px;
    border-radius: 25px;
    border: 1px solid transparent;
    letter-spacing: 1px;
    width: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #1ED760;
    height: 20px;
    margin: 10px 0px;
}

.buttonHigh {
    font-size: 12px;
    margin: 10px 0px;
    border-radius: 25px;
    border: 1px solid transparent;
    letter-spacing: 1px;
    width: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: rgb(233, 14, 14);
    height: 20px;
}

.cardContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(235, 235, 192);
}

.meetingEditDelete {
    margin: 0px 20px;
}

.meetingTitle {
    font-family: 'Poppins', sans-serif;
}

.editIcon {
    text-decoration: none;
    color: green;
}