.line {
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 8px -6px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 8.95px 6.6px -6px; */
    padding-bottom: 10px;
    padding-left: 20px;
}